## Configurations

### These screenshots show some rule configurations for testing

<img width="1284" height="793" alt="print pfsense configuração" src="https://github.com/user-attachments/assets/a0a6d0a3-dcc0-4dee-9dbf-ac4960d69e58" />
<img width="1279" height="796" alt="regras no pfsense" src="https://github.com/user-attachments/assets/63a8b371-259c-4187-a3d2-1e527d29c1d0" />

### EICAR test file being sent to verify if the firewall blocks it


<img width="1284" height="796" alt="teste eicar no pfsense" src="https://github.com/user-attachments/assets/ac38f13a-a4ed-4e2f-bb38-4e514b8d92da" />

### http://neverssl.com is timing out due to the rule created to block HTTP ports (80), and EICAR file logs are appearing in the firewall system.

<img width="1280" height="802" alt="timeout no pfsense" src="https://github.com/user-attachments/assets/660c924e-92f7-43f4-8248-6e59039f171c" />
<img width="1280" height="501" alt="pfsense bloquando requisições" src="https://github.com/user-attachments/assets/daeae33b-161f-4a68-9e00-44127b8ad6da" />
